@use '../01-config/' as *;

.form {
    &__contact {
        margin-bottom: 45px;
    }
    &__shipping {
        margin-bottom: 16px;
    }
    &__check {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        & input[type='checkbox'] {
            opacity: 0;
            width: 0;
            margin: 0;
        }
        & input[type='checkbox'] + label {
            cursor: pointer;
        }
        & input[type='checkbox'] + label:before {
            font: var(--fa-font-solid);
            content: '\f00c';
            border: 1px solid $grayinput;
            border-radius: 4px;
            padding: 2px;
            margin-right: 8px;
            color: transparent;
        }
        & input[type='checkbox']:checked + label:before {
            background-color: $orange;
            border-color: $orange;
            color: white;
        }
    }
    & h4 {
        margin-bottom: 12px;
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 16px;
    & label {
        margin-bottom: 5px;
    }
    & .icon {
        color: $grayinput;
        position: absolute;
        left: 10px;
        top: 28px;
    }
}

.country-postal {
    display: flex;
    justify-content: space-between;
    & fieldset {
        width: 100%;
        &:first-child {
            margin-right: 23px;
        }
    }
}
