@use '../01-config/' as *;

html {
    font-family: $montserrat;
    font-weight: $semibold;
}

h1 {
    color: $headinggray;
    font-size: txt-2xl($base);
}

h3 {
    color: $headinggray;
    font-size: txt-xs($base);
    line-height: txt-sm($base);
}

.current-price,
.cost,
h4 {
    font-size: txt-sm($base);
}

.current-price {
    color: $orange;
}

.old-price {
    color: $headinggray;
    font-size: txt-xxs($base);
    text-decoration: line-through;
}

.current-price,
.old-price {
    line-height: 17px;
}

.num-input input {
    color: $darktxt;
    font-size: $base;
}

.cost,
h4 {
    color: $darktxt;
}

label {
    color: $graylabel;
    font-size: txt-xxs($base);
}

.box__form input,
.box__form select {
    font-family: $montserrat;
    font-size: txt-xs($base);
}

.input-name {
    color: $darktxt;
    &::placeholder {
        color: $darktxt;
    }
}

.btn {
    color: white;
    font-family: $montserrat;
    font-size: $base;
    line-height: txt-lg($base);
}

.footer__txt {
    color: $gray4;
    font-size: txt-sm($base);
    text-align: center;
    &--link,
    &--link:link {
        font-weight: $bold;
        text-decoration: none;
        &:visited {
            color: $visitedlink;
        }
    }
}

// .shipping:first-child,
// .total:first-child {
//     text-align: start;
// }

// .shipping:nth-child(2),
// .total:nth-child(2) {
//     text-align: end;
// }
