@media screen and(min-width:768px) {
    .body-wrapper {
        margin-top: 2.5em;
        width: 88%;
    }
}

@media screen and(min-width:1024px) {
    .body-wrapper {
        margin-top: 3.25em;
        width: 70%;
    }

    .form label {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media screen and(min-width:1200px) {
    .body-wrapper {
        margin-top: 4em;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 44px 1fr 150px;
        row-gap: 50px;
        column-gap: 40px;
    }

    h1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .box__item {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        align-self: flex-start;
    }

    .box__contact {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .footer {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 24px;
    }
}
