@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
/*
txt-7xl = 36px/2.25rem
txt-6xl = 34px/2.125rem
txt-5xl = 32px/2rem
txt-4xl = 30px/1.875rem
txt-3xl = 28px/1.75rem
txt-2xl = 26px/1.625rem
txt-xxl = 24px/1.5rem
txt-xl = 22px/1.375rem
txt-lg = 20px/1.25rem
txt-md = 18px/1.125rem
base = 16px/1rem
txt-sm = 14px/0.875rem
txt-xs = 12px/0.75rem
txt-xxs = 10px/0.625rem
*/
figure {
  margin-right: 1.25em;
  width: 10em;
}
figure img {
  border-radius: 13px;
  max-width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  color: #4e5150;
  font-size: 1.625rem;
}

h3 {
  color: #4e5150;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.current-price,
.cost,
h4 {
  font-size: 0.875rem;
}

.current-price {
  color: #f2994a;
}

.old-price {
  color: #4e5150;
  font-size: 0.625rem;
  text-decoration: line-through;
}

.current-price,
.old-price {
  line-height: 17px;
}

.num-input input {
  color: #333333;
  font-size: 1rem;
}

.cost,
h4 {
  color: #333333;
}

label {
  color: #4f4f4f;
  font-size: 0.625rem;
}

.box__form input,
.box__form select {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.input-name {
  color: #333333;
}
.input-name::-moz-placeholder {
  color: #333333;
}
.input-name:-ms-input-placeholder {
  color: #333333;
}
.input-name::placeholder {
  color: #333333;
}

.btn {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
}

.footer__txt {
  color: #bdbdbd;
  font-size: 0.875rem;
  text-align: center;
}
.footer__txt--link, .footer__txt--link:link {
  font-weight: 700;
  text-decoration: none;
}
.footer__txt--link:visited, .footer__txt--link:link:visited {
  color: #b63d0e;
}

.btn {
  background-color: #f2994a;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  height: 54px;
  width: 166px;
}
.btn__content {
  display: inline-block;
  min-width: 83px;
}
.btn__content--txt {
  margin-right: 4px;
}

.loader {
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 2px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 2px;
}

.show {
  opacity: 1;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message, .invalid, .success {
  background-color: #828282;
  border-radius: 4px;
  color: white;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em 0;
  text-align: center;
}

.success {
  background-color: #a4ca8d;
}

.invalid {
  background-color: #d97f45;
}

.show {
  opacity: 1;
}

.tooltip, .test {
  display: inline-block;
  position: relative;
}
.tooltip__txt {
  font-size: 0.625rem;
  background-color: rgba(242, 153, 74, 0.9);
  border-radius: 4px;
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  padding: 4px 6px;
  position: absolute;
  text-align: center;
  transition: opacity 0.4s, transform 0.3s;
  z-index: 1;
}
.tooltip__txt::after {
  border-color: rgba(242, 153, 74, 0.9) transparent transparent transparent;
  border-style: solid;
  border-width: 4px;
  content: "";
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: 100%;
}
.active .tooltip__txt {
  opacity: 1;
  transform: translateY(-22px);
}
.tooltip:hover .tooltip__txt, .test:hover .tooltip__txt {
  opacity: 1;
  transform: translateY(-22px);
}

body {
  background-color: white;
  max-width: 1440px;
  min-height: 100vh;
  width: 100%;
}

.body-wrapper {
  margin: 2em auto 1.5em auto;
  width: 93%;
}

@media screen and (min-width: 768px) {
  .body-wrapper {
    margin-top: 2.5em;
    width: 88%;
  }
}
@media screen and (min-width: 1024px) {
  .body-wrapper {
    margin-top: 3.25em;
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .body-wrapper {
    margin-top: 4em;
    width: 65%;
  }
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}
.box__item {
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-top: 1.25em;
  padding: 1.875em 1.625em 1em 1.625em;
}

.card {
  display: flex;
  margin-bottom: 1.75em;
}
.card-num {
  padding-top: 2px;
}
.card__price {
  display: flex;
  margin-bottom: 1.375em;
  margin-top: 0.6em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.card__price .current-price {
  margin-right: 0.75em;
}

.form h4 {
  margin-bottom: 0.75rem;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 5px;
}
.form__contact {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.form__shipping {
  display: flex;
  flex-direction: column;
}
.form__shipping .country-postal {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.form__shipping .country-postal label {
  margin-bottom: 5px;
}
.form__shipping .country-postal input, .form__shipping .country-postal select {
  margin-bottom: 1rem;
}
.form__shipping .country-postal__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__shipping .country-postal__container:first-child {
  margin-right: 1.375rem;
}
.form__check {
  display: flex;
  align-items: center;
}
.form__check input, .form__check label {
  margin: 0;
}
.form__check input {
  margin-right: 8px;
  height: 1rem;
  width: 1rem;
}
.form__btn {
  display: flex;
  justify-content: end;
  margin-top: 1.25rem;
}
.form div:nth-child(1) {
  margin-bottom: 2.8em;
}/*# sourceMappingURL=styles.css.map */