@use '../01-config/' as *;

.btn {
    background-color: $orange;
    border-radius: txt-xs($base);
    border: none;
    cursor: pointer;
    height: 54px;
    width: 166px;
    &__content {
        display: inline-block;
        min-width: 83px;
        &--txt {
            margin-right: 4px;
        }
    }
}
