@use '../01-config/' as *;

a:focus,
button:focus,
input:focus,
input[name='save-data']:focus,
select:focus {
    border: none;
    outline: 3px solid $orange;
}

.form {
    & input,
    & select {
        border: 1px solid $grayinput;
        border-radius: 12px;
        padding: 12px 10px 12px 39px;
        font-family: $montserrat;
    }
}

input:focus,
input[name='save-data']:focus,
label[for='save-data']:focus,
select:focus {
    border: 1px solid transparent;
}

.num {
    border: 1px solid $grayinput;
    border-radius: 12px;
    padding: 14px 10px;
    width: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    &__input {
        background-color: transparent;
        border: none;
        width: 42px;
        text-align: center;
        &[type='tel']:focus,
        &[type='tel']:focus-visible,
        &[type='tel']:focus-within {
            outline: none;
            user-select: none;
        }
    }
    &__btn {
        border: none;
        background-color: $inputbox;
        border-radius: 4px;
        height: 26px;
        width: 26px;
        padding: 4px;
        color: $grayinput;
        font-size: calc($base + 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:active {
            background-color: $orange;
            color: white;
        }
        &:focus-within {
            background-color: $orange;
            color: white;
        }
    }
}
